<launch>

  <arg name="map" default="lg205part.yaml" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(find nav)/map/$(arg map)"/>

  <include file="$(find nav)/launch/amcl.launch" />
  <include file="$(find nav)/launch/wavefront.launch" />

  <node pkg="nav" type="nav_ctrl.py" name="nav_ctrl" output="screen" >
    <param name="world_frame" value="map"/>
    <param name="robot_frame" value="base_link"/>
    <param name="cost_map_path" value="/home/tcpb/tcpb_ws/src/nav/scripts/DWA/CostMap/lg205part" />
    <param name="dyn_map_name" value="/grid"/>
  </node>
  <node pkg="nav" type="NavClient.py" name="NavClient" output="screen" />
  <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find bot_sim)/config/rviz/gazebo_laserbot.rviz" /> -->

  <node pkg="nav" type="RRT_star_srv.py" name="RRT_star_srv">
    <param name="map_name" type="string" value="/home/tcpb/tcpb_ws/src/nav/scripts/DWA/CostMap/lg205part" />
  </node>

</launch>
